:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-color-primary: #484233;
  --font-color-secondary: #e8e0cd;
  color: #484233;
  background-color: #e8e0cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 5px;
}
h1,
h2,
h3 {
  font-family: var(--font-family);
}
p,
h4 {
  font-family: var(--font-secondary);
  font-family: var(--font-color-secondary);
}

hr {
  width: 95%;
  border: none;
  border-top: 2px solid #010101;
  margin: 0;
  justify-self: center;
}

main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.introduction hr {
  width: 90%;
  border: none;
  border-top: 2px solid #010101;
  opacity: 36%;
  box-shadow: 4px 4px 4px #010101;
  margin: 0;
}

.textupper {
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.textlower {
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  margin-top: -33px;
  z-index: 1; /* Ensure text appears above the photo */
  text-align: center;
}

#cover-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0)
  );

  display: flex;

  overflow: hidden;
  position: relative;
}

.benner {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
  background-color: #fffaee;
  height: 1000px;
  flex-wrap: wrap;
  gap: 20px;
}

.left {
  flex: 1; /* Takes up equal space */
  text-align: start;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}

.right {
  flex: 2; /* Takes up more space */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 10px;
}
