:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #484233;
  background-color: #e8e0cd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #e8e0cd;
}

#top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 5px;
}

hr {
  width: 95%;
  border: none;
  border-top: 2px solid #010101;
  margin: 0;
  justify-self: center;
}

main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.introduction hr {
  width: 90%;
  border: none;
  border-top: 2px solid #010101;
  opacity: 36%;
  box-shadow: 4px 4px 4px #010101;
  margin: 0;
}

.textupper {
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.textlower {
  padding: 5px 0;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
  margin-top: -33px;
  z-index: 1; /* Ensure text appears above the photo */
  text-align: center;
  
}

#cover-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 75%,
    rgba(0, 0, 0, 0.3) 90%,
    rgba(0, 0, 0, 0)
  );

  display: flex;


  overflow: hidden;
  position: relative;
}
